@-webkit-keyframes div#pretty-banner {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes div#pretty-banner {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes div#pretty-banner {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes div#pretty-banner {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
*{box-sizing: border-box;}

@font-face {
  font-family: uniform;
  src: url("font/Arcon-Rounded-Regular.otf");
}

body{
  font-family: uniform;
}

h1{
  font-size: 3em;
}
p{
  font-size: 1.5em;
}

button{
  font-size: 0.8em;
}

div#main{
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 15%;
  right: 25%;
}

button{
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  background: transparent;
  border-radius: 3px;
}

div#shade{
  z-index: 10;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0%;
  background: black;
}

@media only screen and (min-width: 768px) {
  div#pretty-banner{
    position: absolute;
    height: 40px;
    width: 100%;
    left:0px;

	background: linear-gradient(270deg, #35e6b8, #1edfff, #ffdc1e);
	background-size: 600% 600%;

	-webkit-animation: div#pretty-banner 16s ease infinite;
	-moz-animation: div#pretty-banner 16s ease infinite;
	-o-animation: div#pretty-banner 16s ease infinite;
	animation: div#pretty-banner 16s ease infinite;
    top: 0px;
  }
  div#main{
    top: 40px;
  }
}

