@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,800i');

$light: #0b637a;

@import '~bulma/bulma';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, h2{
  font-family: 'Raleway', sans-serif;
  color: #ed9982 !important;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 4em !important;
  font-style: italic;
  font-weight: 800;
}

strong {
  font-style: italic !important;
  font-weight: 800 !important;
  color: lighten(#ed9982, 10%)!important;
}

div.shade {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}

div.contactCard:hover + div.shade{
  animation: fadeIn 0.3s 1 forwards ease-out;
  z-index: 102;
}

div.contactCard:hover {
  z-index: 103;

}

div.contactCard {
  z-index: 101;
  position: relative;
  padding: 15px;
  background: white;
  border-radius: 6px;
}

div.section--bottom-half {
  color: black !important;

}

